:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;
}
